<div>
    <mat-toolbar color="primary">        
    </mat-toolbar>
</div>

<div class="allitems">

    <div class="sideBar">
        
        <mat-toolbar color="accent">State</mat-toolbar>

        <table color="primary" mat-table [dataSource]="appDataFacade.getViewItems$()" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> position </th>
                <td mat-cell *matCellDef="let element"> {{element.x}},{{element.y}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
    </div>

    <div class="viewItemContainer" #dragcontainer>
        <div class="viewItemContainerBg">

            <img class="viewItemContainerBgImage" src="assets/oulu.png">
            <div [style.top]="horizontalGuidePosition+'px'" class="viewItemContainerBgHorizontalLine"></div>
            <div [style.left]="verticalGuidePosition+'px'" class="viewItemContainerBgVerticalLine"></div>

            <div *ngFor="let gridline of horizontalGrid" [style.top]="gridline+'px'" class="viewItemContainerBgHorizontalLine"></div> 
            <div *ngFor="let gridline of verticalGrid" [style.left]="gridline+'px'" class="viewItemContainerBgVerticalLine"></div>     
            
            <canvas #viewCanvas class="viewItemCanvas"></canvas>
        </div>    

        <app-view-item-box cdkDrag
            *ngFor="let viewitem of (appDataFacade.getViewItems$() | async)" 
            (itemChangeEvent)="itemChanged(viewitem)" (itemDraggedEvent)="itemDragged($event)" (itemSelectedEvent)="itemSelected(viewitem)"
            [cdkDragFreeDragPosition]="{x:viewitem.x*1,y:viewitem.y*1}" [cdkDragBoundary]="dragcontainer"
            [itemData]="viewitem" [boundaryX]="viewAreaWidth" [boundaryY]="viewAreaHeight">
        </app-view-item-box>
    </div>
    
    <div class="sideBar">
        <pre>{{(appDataFacade.getViewItems$() | async | json)}}</pre>
    </div>

</div>
 

