
.allitems
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly
    
}

.viewItemContainer
{    
    position: relative;
    min-width: 950px;
    height: 700px;
    outline: dotted #000 2px;
}

.viewItemContainerBg
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FCE2BF;
}

.viewItemContainerBgImage
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.viewItemCanvas
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.viewItemContainerBgHorizontalLine
{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #CDB593;
}

.viewItemContainerBgVerticalLine
{
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #CDB593;
}

.sideBar
{
    position: relative;
    width: 300px;
    height: 700px;
    overflow: auto;
    font-size: 12px;
    outline: dotted #000 2px;
}

table {
    width: 100%;
  }

